*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: rosybrown; */
}
.app{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.time-select,
.sound-picker,
.player-container{
    height: 60%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.player-container{
    position: relative;
}
.player-container svg{
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
}
video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
    height: 100vh;
    object-fit: cover;
}
.time-display{
    position: absolute;
    top: 20px;
    color: #fff;
    font-size: 50px;
}
.time-select button,
.sound-picker button{
    color: #fff;
    width: 30%;
    height: 10%;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.time-select button:hover{
    color: black;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(0, 0, 0, 0.5) -3px -3px 6px 1px inset;    
    transition: all 0.5s ease;
}
.sound-picker button{
    border: none;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 30px;
}
.sound-picker button:nth-child(1){
    background: #4972a1;
}
.sound-picker button:nth-child(2){
    background: #a14f49;
}
.sound-picker button img{
    /* height: 100%; */
}
footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
   

}
footer a{
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 1em;
}

@media screen and (max-width:650px){
    .app{
        height: 100vh;
        flex-direction: column;
    }
    .time-select,
    .sound-picker,
    .player-container{
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
    }
    .player-container svg{
        height: 0;
    }
    .player-container .play{
        width: 50px;
    }
    .time-display{
        position: absolute;
        top: 00px;
        color: #fff;
        font-size: 50px;
    }
    .sound-picker button{
        border: none;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        padding: 15px;
    }
    .sound-picker button img{
        width: 50px;
    }
    .time-select button{
        font-size: 1em;
    }
}